[submodule "libraries/pyforms-web"]
	path = libraries/pyforms-web
	url = git@github.com:UmSenhorQualquer/pyforms-web.git
	branch = v4
[submodule "plugins/flydb"]
	path = plugins/flydb
	url = git@github.com:fchampalimaud/flydb.git
	branch = v2
[submodule "plugins/fishdb"]
	path = plugins/fishdb
	url = git@github.com:fchampalimaud/fishdb.git
[submodule "plugins/rodentdb"]
	path = plugins/rodentdb
	url = git@github.com:fchampalimaud/rodentdb.git
[submodule "libraries/django-rest-models"]
	path = libraries/django-rest-models
	url = https://github.com/Yupeek/django-rest-models.git
[submodule "plugins/confirm-users-app"]
	path = plugins/confirm-users-app
	url = git@github.com:fchampalimaud/confirm-users-app.git
[submodule "plugins/notifications-central"]
	path = plugins/notifications-central
	url = git@github.com:fchampalimaud/notifications-central.git
