[submodule "libraries/pyforms-web"]
	path = libraries/pyforms-web
	url = git@github.com:UmSenhorQualquer/pyforms-web.git
	branch = v4
[submodule "plugins/flydb"]
	path = plugins/flydb
	url = git@bitbucket.org:fchampalimaud/flydb.git
	branch = v2
[submodule "plugins/fishdb"]
	path = plugins/fishdb
	url = git@bitbucket.org:fchampalimaud/fishdb.git
[submodule "plugins/rodentdb"]
	path = plugins/rodentdb
	url = git@bitbucket.org:fchampalimaud/rodentdb.git