[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
fishdb = {editable = true,path = "./plugins/fishdb"}
fly-db = {editable = true,path = "./plugins/flydb"}
rodentdb = {editable = true,path = "./plugins/rodentdb"}
pyforms-web = {editable = true,path = "./libraries/pyforms-web"}
orquestra = {editable = true,path = "./libraries/pyforms-web/orquestra"}
django-allauth = "*"
mysqlclient = "*"

[dev-packages]
pip = "==19.0"
black = "==19.3b0"

[requires]
python_version = "3.7"
