[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "~=2.2.0"
fishdb = {editable = true,path = "./plugins/fishdb"}
flydb = {editable = true,path = "./plugins/flydb"}
rodentdb = {editable = true,path = "./plugins/rodentdb"}
pyforms-web = {editable = true,path = "./libraries/pyforms-web"}
orquestra = {editable = true,path = "./libraries/pyforms-web/orquestra"}
notifications-central = {editable = true,path = "./plugins/notifications-central"}
confirm-users = {editable = true,path = "./plugins/confirm-users-app"}
mysqlclient = "*"
django-dotenv = "*"
gunicorn = "*"
django-rest-models = "~=1.8.5"
django-import-export = "*"

[dev-packages]
django-debug-toolbar = "*"
black = "==19.3b0"
flake8 = "*"
django-extensions = "*"
werkzeug = "*"

[requires]
python_version = "3.7"
