-i https://pypi.org/simple
-e ./libraries/django-rest-models
-e ./libraries/dynamic-rest
-e ./libraries/pyforms-web
-e ./libraries/pyforms-web/orquestra
-e ./plugins/confirm-users-app
-e ./plugins/fishdb
-e ./plugins/flydb
-e ./plugins/notifications-central
-e ./plugins/rodentdb
certifi==2019.6.16
chardet==3.0.4
confapp==1.0.9
defusedxml==0.6.0
dill==0.3.0
django-allauth==0.39.1
django-dotenv==1.4.2
django-jfu-pyforms==2.0.9.1
django-model-utils==3.1.2
django==2.1.11
djangorestframework==3.7.7
filelock==3.0.12
idna==2.8
inflection==0.3.1
mysqlclient==1.4.2.post1
numpy==1.17.0
oauthlib==3.0.2
opencv-python==3.4.5.20
pillow==6.1.0
python-dateutil==2.8.0
python3-openid==3.1.0
pytz==2019.2
requests-oauthlib==1.2.0
requests==2.22.0
simplejson==3.16.0
six==1.12.0
sorl-thumbnail==12.5.0
unidecode==1.1.1
urllib3==1.25.3
